/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/* Blocs constituants -------------------------------------------------------------------------- */
div#menu{
	border: 1px solid #0568CD;
	padding: 10px;
	margin: 10px;
}
div#corps{
	margin: 10px;
}

/* Tableaux -------------------------------------------------------------------------- */

table{
	border-collapse: collapse;
}

tr{
	background-color: #efefef;
}


th{
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}

td{
	border: 1px solid #ddd;
	padding: 5px;
}

/* Menu docteur et Patient --------------------------------------------------------------------*/

width : 600px; 

height : 30px;

margin : 2em 0 0 0;

padding : 0;

background-color : #f4f9fd;

border : 1px dashed black;

list-style-type : none; 

}

ul#menu_horizontal li {

padding : 0 0.5em;  

line-height : 30px;

}

ul#menu_horizontal li.bouton_gauche {

float : left;

border-right : 1px dashed black; 

}

ul#menu_horizontal li.bouton_droite {

float : right;

border-left : 1px dashed black;

}
ul#menu_horizontal a {

color : black;

text-decoration : none;

padding : 0 0.5em; 

font :  0.8em "Trebuchet MS";

}

ul#menu_horizontal a:hover { text-decoration : underline; }

ul#menu_horizontal a img { 

border : none;

padding :  0 0.3em;

/*-------- Menu principale-------------------------------*/
#menu

{

        border-bottom : 1px solid #9EA0A1;

        padding-bottom : 25px;

}
#onglets

{

    font : bold 11px Batang, arial, serif;

    list-style-type : none;

    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */

    border-bottom : 1px solid #9EA0A1;

    margin-left : 0;

}
#onglets li

{
    float : left;

    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */

    background-color: #F4F9FD;

    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */

    margin : 1px 2px 0 2px;  /* Pour IE  */

    border : 1px solid #9EA0A1;

}
#onglets li.active

{

    border-bottom: 1px solid #fff;

    background-color: #fff;

}
#onglets a

{

    display : block;

    color : #666;

    text-decoration : none;

    padding : 4px;

}
#onglets a:hover

{

    background : #fff;

}
